<div class="car-category">
    <div class="container">
        <div class="section-subheading text-center mt-md-5"> Explore the world's largest car sharing marketplace </div>
        <div class="section-heading text-center mt-md-2"> Find your drive </div>
        <app-search-bar></app-search-bar>

        <div class="row my-md-5" *ngIf="cardetails && cardetails.length; else noDataFound">

            <ng-container *ngFor="let cardetail of cardetails">
                <div class="col-md-3 text-left">
                    <app-car-details-card [cardsData]="cardetail" (clickCard)="parentEventHandlerFunction($event)"></app-car-details-card>
                </div>
            </ng-container>

        </div>
        <ng-template #noDataFound>
            <div class="no-data-found my-5">
                <img src="../../../assets/images/il_motorway_through_the_desert37fd2f1c855007ac3941.png" alt="" width="5%">
                <h4 class="mt-4 text-center">No cars found</h4>
            </div>
        </ng-template>
    </div>
</div>