<div class="container">
    <form [formGroup]="filterForm" (ngSubmit)="this.searchedLocation = '';getLocationWiseData()">
        <mat-form-field>
            <mat-label>Sort by</mat-label>
            <mat-select formControlName="priceSort">
                <mat-option *ngFor="let p of priceSort" [value]="p.value">
                    {{p.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel" formControlName="price">
        <input matSliderThumb>
        </mat-slider>
        <mat-form-field>
            <mat-label>Company</mat-label>
            <mat-select formControlName="make">
                <mat-option *ngFor="let cmp of companies" [value]="cmp.name">
                    {{cmp.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button type="submit" class="btn btn-secondary">submit</button>
    </form>

    <!--MAP starts-->
    <google-map [options]="mapOptions">
        <map-marker [position]="marker.position"></map-marker>
     </google-map> 

   <input class="form-control" ngx-google-places-autocomplete [options]="options"
        (onAddressChange)="handleAddressChange($event)" />
    <!--Map ends-->

    <div *ngIf="vehicleModels">
        <div class="row">
            <ng-container *ngFor="let vehicleModel of vehicleModels">
                <div class="col-md-3 mb-4">
                    <app-car-details-card [cardsData]="vehicleModel"
                        (clickCard)="parentEventHandlerFunction($event)"></app-car-details-card>
                </div>
            </ng-container>
        </div>
    </div>
</div>