.seo-pages-azjghx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-background-position: 0 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position-x: 70%;
    -webkit-background-size: cover;
    background-size: cover;
    height: 320px;
    padding-top: 48px
}

@media (min-width:768px) {
    .seo-pages-azjghx {
        background-position-x: 50%;
        height: 600px
    }
}

@media (min-width:992px) {
    .seo-pages-azjghx {
        background-position-x: 50%
    }
}

.seo-pages-18gg0zj {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

@media (min-width:768px) {
    .seo-pages-18gg0zj {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 750px
    }
}

@media (min-width:992px) {
    .seo-pages-18gg0zj {
        padding-left: 0;
        padding-right: 0;
        width: 940px
    }
}

@media (min-width:1200px) {
    .seo-pages-18gg0zj {
        width: 940px
    }
}

.seo-pages-jzu26b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px
}

.seo-pages-mk3pro {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    display: none
}

@media (min-width:768px) {
    .seo-pages-mk3pro {
        display: initial;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

.seo-pages-1y3p19i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:768px) {
    .seo-pages-1y3p19i {
        width: 70%
    }
}

@media (min-width:992px) {
    .seo-pages-1y3p19i {
        width: 55%
    }
}

.seo-pages-12odiic {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%
}

@media (min-width:768px) {
    .seo-pages-12odiic {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 750px
    }
}

@media (min-width:992px) {
    .seo-pages-12odiic {
        padding-left: 0;
        padding-right: 0;
        width: 940px
    }
}

@media (min-width:1200px) {
    .seo-pages-12odiic {
        width: 940px
    }
}

.seo-pages-1pkzd0w {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    display: initial
}

@media (min-width:768px) {
    .seo-pages-1pkzd0w {
        display: none
    }
}

@media (min-width:992px) {
    .seo-pages-1pkzd0w {
        display: none
    }
}

@media (min-width:1200px) {
    .seo-pages-1pkzd0w {
        display: none
    }
}

.seo-pages-1toibrp-StyledText {
    margin: 0;
    color: #121214;
    margin-bottom: 8px;
    margin-top: 16px;
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -.2px;
    line-height: 44px;
    text-transform: none
}

.seo-pages-1toibrp-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

.seo-pages-1ue5uyt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 8px;
    width: 80%
}

.seo-pages-1kv227m-StyledText {
    margin: 0;
    color: #121214;
    margin-bottom: 16px;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-transform: none
}

.seo-pages-1kv227m-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

@media (min-width:768px) {
    .seo-pages-1kv227m-StyledText {
        line-height: 24px
    }
}

.seo-pages-136wc1n {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 56px
}

.seo-pages-1qslx4t-StyledText {
    margin: 0;
    color: #121214;
    margin-bottom: 16px;
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -.2px;
    line-height: 44px;
    text-transform: none
}

.seo-pages-1qslx4t-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

@media (min-width:768px) {
    .seo-pages-1qslx4t-StyledText {
        margin-bottom: 48px
    }
}

@media (min-width:768px) {
    .seo-pages-1qslx4t-StyledText {
        font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
        font-size: 51px;
        font-weight: 900;
        letter-spacing: -.5px;
        line-height: 56px;
        text-transform: none
    }
}

.seo-pages-clqabn {
    margin-bottom: 56px
}

@media (min-width:992px) {
    .seo-pages-clqabn {
        margin-bottom: 88px
    }
}

.seo-pages-1tqlkmr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
    grid-column-gap: 16px
}

@media (min-width:768px) {
    .seo-pages-1tqlkmr {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 40px
    }
}

@media (min-width:992px) {
    .seo-pages-1tqlkmr {
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 24px;
        grid-column-gap: 24px
    }
}

.seo-pages-fynvu-StyledCard {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e7e7e8;
    border-radius: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px 4px 0;
    width: 131px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

@media (min-width:480px) {
    .seo-pages-fynvu-StyledCard {
        width: 216px;
        padding: 16px
    }
}

.seo-pages-fynvu-StyledCard:hover {
    border: solid 1px #593cfb;
    cursor: pointer
}

.seo-pages-fynvu-StyledCard:hover .styledHeadshotWrapper:after {
    opacity: .8
}

.seo-pages-fynvu-StyledCard:hover .styledHeadshotText {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100
}

.seo-pages-1rzsemh-StyledHeadshotWrapper {
    display: inline-block;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.seo-pages-1rzsemh-StyledHeadshotWrapper:after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 103px;
    display: block;
    position: absolute;
    background: #593cfb;
    opacity: 0;
    border-radius: 50%
}

@media (min-width:480px) {
    .seo-pages-1rzsemh-StyledHeadshotWrapper:after {
        height: 185px
    }
}

.seo-pages-1e3txu3-StyledImage-StyledHeadshot {
    max-width: 100%;
    border-radius: 50%;
    width: 103px
}

@media (min-width:480px) {
    .seo-pages-1e3txu3-StyledImage-StyledHeadshot {
        width: 185px
    }
}

.seo-pages-6c3rzt-StyledText-StyledHeadshotText {
    margin: 0;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: none;
    display: none
}

.seo-pages-6c3rzt-StyledText-StyledHeadshotText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

@media (min-width:768px) {
    .seo-pages-6c3rzt-StyledText-StyledHeadshotText {
        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: .3px;
        line-height: 24px;
        text-transform: none
    }
}

.seo-pages-e6bxgq-StyledText {
    margin: 0;
    color: #121214;
    margin-bottom: 8px;
    margin-top: 12px;
    text-align: center;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 16px;
    text-transform: uppercase
}

.seo-pages-e6bxgq-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

@media (min-width:768px) {
    .seo-pages-e6bxgq-StyledText {
        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 20px;
        text-transform: none
    }
}

.seo-pages-1obfgsc-StyledText {
    margin: 0;
    color: #121214;
    margin-bottom: 12px;
    text-align: center;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: none
}

.seo-pages-1obfgsc-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

.seo-pages-1s366pa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 56px
}

.seo-pages-d15va7 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
    grid-column-gap: 24px
}

@media (min-width:768px) {
    .seo-pages-d15va7 {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 40px
    }
}

@media (min-width:992px) {
    .seo-pages-d15va7 {
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 24px;
        grid-column-gap: 24px
    }
}

.seo-pages-tfbwun-StyledText {
    margin: 0;
    color: #121214;
    margin-bottom: 24px;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 20px;
    text-transform: none
}

.seo-pages-tfbwun-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

.seo-pages-bt8xls-StyledText {
    margin: 0;
    color: #121214;
    margin-bottom: 4px;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: none
}

.seo-pages-bt8xls-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

.seo-pages-1ty3hiz-StyledText {
    margin: 0;
    color: #593cfb;
    margin-bottom: 0;
    cursor: pointer;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: none
}

.seo-pages-1ty3hiz-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

.seo-pages-1ty3hiz-StyledText:hover {
    color: #470ab4
}

.seo-pages-1rmbfjd {
    background-image: url(//resources.turo.com/f/81934/1027x240/b39555948b/jobs-banner-l.png);
    -webkit-background-position: 0 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

@media only screen and (-webkit-min-device-pixel-ratio:1.3),
only screen and (min--moz-device-pixel-ratio:1.3),
only screen and (-o-min-device-pixel-ratio:1.3/1),
only screen and (min-resolution:125dpi),
only screen and (min-resolution:1.3dppx) {
    .seo-pages-1rmbfjd {
        background-image: url(//resources.turo.com/f/81934/2054x480/c9dacad75d/jobs-banner-l-2x.png)
    }
}

.seo-pages-xi2qma {
    margin-bottom: 48px;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 240px
}

@media (min-width:768px) {
    .seo-pages-xi2qma {
        margin-bottom: 88px
    }
}

.seo-pages-1s83uaf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width:768px) {
    .seo-pages-1s83uaf {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
}

.seo-pages-1ilfgeg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.seo-pages-vvs2ob-StyledText {
    margin: 0;
    color: #121214;
    margin-bottom: 8px;
    text-align: center;
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -.2px;
    line-height: 44px;
    text-transform: none
}

.seo-pages-vvs2ob-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

@media (min-width:768px) {
    .seo-pages-vvs2ob-StyledText {
        font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
        font-size: 51px;
        font-weight: 900;
        letter-spacing: -.5px;
        line-height: 56px;
        text-transform: none
    }
}

.seo-pages-1pzvdny-StyledText {
    margin: 0;
    color: #121214;
    margin-bottom: 12px;
    text-align: center;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-transform: none
}

.seo-pages-1pzvdny-StyledText a {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: inherit;
    vertical-align: inherit
}

@media (min-width:768px) {
    .seo-pages-1pzvdny-StyledText {
        line-height: 24px
    }
}

.seo-pages-1uz1lkt {
    display: inline-block;
    height: 50px;
    line-height: 49px;
    padding: 0 18px;
    text-align: center;
    vertical-align: top;
    background-color: #593cfb;
    border: 1px solid #593cfb;
    color: #fff;
    font-size: 18px;
    -webkit-transition: .5s border, .5s background;
    transition: .5s border, .5s background
}

.seo-pages-1uz1lkt:hover {
    background-color: #470ab4;
    border-color: #470ab4;
    -webkit-text-decoration: none;
    text-decoration: none
}
.seo-pages-1xfgq7t {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}